.navbar__container{
    display: flex;
    background-color: rgb(var(--secondary));
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 10px;
    position: sticky;
    top: 0; 
    width: 100%;
    z-index: 1;
}

.navbar__icon {
    display: flex;
}

.navbar__pages__wrapper {
    display: flex;
    margin: auto;
    list-style: none;
}

.navbar__pages__item {
    margin-right: 2.25rem;
    opacity: 60%;
}

.navbar__pages__item label {
    cursor: pointer;
    text-transform: capitalize;
}

.navbar__pages__item--active {
    opacity: 1;
}