.typography {
  color: rgb(var(--color1));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.typography__h1 {
  font-weight: normal;
  font-size: 2.5rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.typography__h2 {
  font-size: 1.875rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.typography__h3 {
  font-size: 1.25rem;
  letter-spacing: 0.15rem;
  line-height: 145%;
  text-transform: uppercase;
}

.typography__h4 {
  font-size: 1.125rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.typography__h5 {
  font-size: 1rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.typography__h6 {
  font-size: 0.875rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.typography__h7 {
  font-size: 0.75rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.typography__subtitle {
  font-size: 1rem;
}

.typography__body1 {
  font-size: 0.875rem;
  line-height: 140%;
}

.typography__body2 {
  font-size: 0.75rem;
  line-height: 140%;
}

.typography__bodyBold1 {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 140%;
}

.typography__bodyBold2 {
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 140%;
}

.typography__small {
  font-size: 0.625rem;
  letter-spacing: 0.05rem;
}

.typography__smallBold {
  font-size: 0.625rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
}

.typography__preTitle {
  font-size: 0.625rem;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.typography__textButton {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}
