.tabs__box {
  margin: 0 -20px 20px -20px;
}

.tabs__box:after {
  content: "";
  margin: -4px 20px 0;
  display: block;
}

.tabs__tab {
  text-decoration: none;
  display: inline-block;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  background: transparent;
  color: rgba(var(--color1));
  margin: auto;
  cursor: pointer;
}

.tabs__tab:hover {
  color: rgba(var(--color1));
  background-color: rgba(var(--primary));
}


.tabs__tab-active:after {
  content: "";
  display: block;
  padding-top: 16px;
  margin-bottom: -16px;
  border-bottom: 2px solid rgba(var(--color1));
}