.buttonComponent {
  border-radius: 19px;
  padding: 10px 25px;
  cursor: pointer;
  border: 1px solid #000;
  color:rgb(var(--color1));
}

.buttonComponent:hover {
  background-color: rgba(var(--color1), 0.20);
}

.buttonComponent:active {
  background-color: rgb(var(--color1));
  color:rgb(var(--primary));
}

.buttonComponent:active label {
  color:rgb(var(--background));
}

.buttonComponent label:hover {
  cursor: pointer;
}

.buttonComponent__normal{
  background-color: rgb(var(--primary));
}

.buttonComponent__alternate{
  background-color:rgb(var(--secondary)) ;
}
