.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(var(--primary));
}

.App__labels {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

