.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.App__labels {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.App__avatar {
  display: flex;
  flex-direction: row;
}

.App__SelectLang {
  margin: 8px;
}